# Arquivos gerados pelo Dart e Flutter.
.dart_tool/
.packages
.pub-cache/
build/

# Arquivo de lock de dependências. Geralmente é bom versionar em apps,
# mas pode ser ignorado em pacotes. Para consistência de build,
# é recomendado NÃO ignorar, mas se houver problemas, pode ser adicionado.
# pubspec.lock

# Arquivos de configuração de IDEs.
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Arquivos gerados pelo Android Studio/Gradle.
android/app/build/
android/build/
android/.gradle/
android/key.properties
android/local.properties

# Arquivos gerados pelo Xcode/CocoaPods.
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# Arquivos gerados para a plataforma Web.
web/build/

# Arquivos gerados para a plataforma Windows.
windows/build/
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Profile/
windows/runner/Release/

# Arquivos de log e diversos.
*.log

# ===================================================================
# ARQUIVO MAIS IMPORTANTE A SER IGNORADO
# Contém as chaves de API do Firebase. NUNCA envie para um repositório público.
lib/firebase_options.dart
# ===================================================================